matplotlib==3.5
glob2
jupyter
seabird
numpy==1.23
scipy
pandas==1.2
geopandas
proj
shapely
netCDF4
cartopy
gsw
cmocean
requests
adjusttext
spyder
xarray
rioxarray
dask
utm
git
pip
metpy
windrose
yaml
nco
seaborn
spectrum
pytmd
pytide
plotly
python-kaleido
