matplotlib
notebook
nb_conda_kernels
numpy
scipy
pandas
geopandas
shapely
netCDF4
cartopy
cmocean
xarray
rioxarray
dask
git
pip
metpy
yaml
threddsclient
gsw
adjusttext
spectrum
pytmd
utide
plotly
dask-labextension
windrose
seaborn
glob2
ephem